PORT=4000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=secret
DB_NAME=erp_db
DEFAULT_ADMIN_EMAIL=admin@erp.com
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=admin123
DEFAULT_ADMIN_ROLE=Admin
DEFAULT_ADMIN_FORCE=false
